{% extends "layouts/layout.html" %}

{% block title %} Pasang Iklan {% endblock%}


{% block content %}

<link href="{{url_for ('static',filename='css/index.css')}}" rel="stylesheet" />
</br>
</br> 

 <div class="col-md-12">
    <div class="text-center">
      <h1 id="title1">KERJA SALES</h1>
      <h3 id="title2">Terima Kasih,iklan anda telah kami terima dan akan kami review.</h3>
      <h3 id="title2"> Invoice pembayaran iklan telah kami kirimkan ke email anda. Silakan anda cek dan melakukan pelunasan pembayaran. Setelah pelunasan,harap anda melakukan konfirmasi kepada kami untuk kami periksa.</h3>
      <h3 id="title2">Iklan anda akan segera tayang setelah proses pembayaran dan konfirmasi. Terima kasih </h3>
     
    </div>










{% endblock %}